<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0fqhNgKg7FAjUODyk_G80zHavw93eFb0</string>
	<key>GCM_SENDER_ID</key>
	<string>623398059823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bubblebopling.ProBubbleBoPling</string>
	<key>PROJECT_ID</key>
	<string>pro-bubble-bo</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-bubble-bo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623398059823:ios:dd6961b14918a0ffd56bda</string>
</dict>
</plist>