<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bankid</string>
		<string>phonepe</string>
		<string>paytmmp</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone to record audio.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to take photos and record videos.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>We collect usage data to enhance app performance, improve features, and provide a better user experience. Your information remains secure and is not shared with third parties for advertising purposes.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BlackHanSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
